#load "nuget:ScriptUnit, 0.2.0"
#r "nuget:AwesomeAssertions, 9.3.0"

using static ScriptUnit;   
using AwesomeAssertions;

return await AddTestsFrom<SampleTests>().Execute();

public class SampleTests
{    
    public void Success()
    {
        "Ok".Should().Be("Ok");
    }    
}