name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.100
      - name: Install dotnet-script
        run: dotnet tool install -g dotnet-script
      - name: Configure email for git releated tests
        run: git config --global user.email "bernhard.richter@gmail.com"
      - name: Configure username for git releated tests
        run: git config --global user.name "seesharper"

      - name: Run build script
        run: dotnet script build/build.csx --disable-isolated-load-context
        env: # Or as an environment variable
          GITHUB_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IS_SECURE_BUILDENVIRONMENT: ${{ secrets.IS_SECURE_BUILDENVIRONMENT }}
          NUGET_APIKEY: ${{ secrets.NUGET_APIKEY }}
